<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.guopengliang.cordova.statustap"
      version="0.1.1">

	<name>StatusTap</name>
	<description>StatusTap plugin for Cordova/PhoneGap, forked from https://github.com/guopengliang/cordova-plugin-statustap</description>
	<license>MIT</license>
	<keywords>phonegap,ios,tap,status,scroll</keywords>

	<js-module src="www/statustap.js" name="StatusTap">
		<clobbers target="window.StatusTap" />
	</js-module>
      
	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="StatusTap">
				<param name="ios-package" value="StatusTap"/>
			</feature>
		</config-file>

		<header-file src="src/ios/StatusTap.h" />
		<source-file src="src/ios/StatusTap.m" />
	</platform>

</plugin>
