<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.guopengliang.cordova.statustap"
        version="0.2.0">

	<name>StatusTap</name>

	<description>
		Cordova plugin (iOS only) for detecting tap event on the StatusBar.
	</description>

	<license>MIT</license>

	<keywords>phonegap,ios,tap,status,scroll</keywords>
      
	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="StatusTap">
				<param name="ios-package" value="StatusTap"/>
			</feature>
		</config-file>

		<js-module src="www/statustap.js" name="StatusTap">
			<runs />
		</js-module>

		<header-file src="src/ios/StatusTap.h" />
		<source-file src="src/ios/StatusTap.m" />
	</platform>

</plugin>
